body {
  font-family: 'Poppins', sans-serif;
}
.tim-typo {
  padding-left: 25%;
  margin-bottom: 40px;
  position: relative;
  width: 100%;
}
.dataTables_wrapper {
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  position: relative;
  clear: both;
  *zoom: 1;
  zoom: 1;
}
.row-color {
  border-bottom: 1px solid #32EAAC;
  font-family: 'Poppins', sans-serif;
  font-size:18px;
}
.tim-typo .tim-note {
  bottom: 5px;
  color: #c0c1c2;
  display: block;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  left: 0;
  margin-left: 20px;
  position: absolute;
  width: 260px;
}
.breadcrumb > li + li:before {
  color: #000000;
  content: "> ";
  padding: 0 5px;
}
.breadcrumb {
  background: white !important;
}
.breadcrumb > .active {
  color:black;
}
.breadcrumb > li:hover {
  color: #FF7E07 !important;
}

/* offline-doc */

.offline-doc .navbar.navbar-transparent {
  padding-top: 25px;
  border-bottom: none;
}

.offline-doc .navbar.navbar-transparent .navbar-minimize {
  display: none;
}

.offline-doc .navbar.navbar-transparent .navbar-brand,
.offline-doc .navbar.navbar-transparent .collapse .navbar-nav .nav-link {
  color: #FFFFFF !important;
}

.offline-doc .footer {
  z-index: 3 !important;
}

.offline-doc .page-header .container {
  z-index: 3;
}

.offline-doc .page-header:after {
  background-color: rgba(0, 0, 0, 0.5);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}

#map {
  z-index: 2;
  height: calc(100vh - 70px);
  margin-top: 70px;
}

.off-canvas-sidebar .wrapper-full-page~.fixed-plugin .dropdown .dropdown-menu
{
  -webkit-transform:none;
  transform: none;
}

.fixed-plugin .button-container .github-button
{
  display:inline
}

.b-bottom-primary{
  border-bottom: 3px solid #76ebac;
}

.input-custome{
  width: 100%;
  border: 2px solid black;
  border-radius: 20px;
  height:45px;
}
.input-basic {
  font-size:18px;
  color: black;
}
.cl-grey {
  color: #8E7E7E;
}
*:focus {
  outline: none !important;
}
.text-dark {
  color: #000;
}

.bg-green-primary {
  background: #31EAAB;
}
.bg-status-1 {
  background: #F3AF00;
  padding: 4px 5px;
  border-radius: 6px;
  font-size: 14px;
}
.bg-status-3 {
  background: #31EAAB;
  padding: 4px 5px;
  border-radius: 6px;
  font-size: 14px;
}
.bg-status-4 {
  background: #D80000;
  padding: 4px 5px;
  border-radius: 6px;
  font-size: 14px;
}
.bg-status-5 {
  background: #0023D8;
  padding: 4px 5px;
  border-radius: 6px;
  font-size: 14px;
}
.bg-status-7 {
  background: #FF7E07;
  padding: 4px 5px;
  border-radius: 6px;
  font-size: 14px;
}
.bg-status-inprogress {
  background: rgba(255, 0, 0, 0.5);
  padding: 4px 5px;
  border-radius: 6px;
  font-size: 14px;
}
.select-am {
  border-bottom: 1px solid rgba(0, 0, 0, 0.29) !important;
}
.edit-btn {
  border: none;
}
.pointer {
  cursor: pointer;
}
a {
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}
.cl-orange {
  color: #FF7E07;
}
.cl-green {
  color: #10B17B;
}
.cl-red {
  color: #FD0101;
}

.cl-border-green {
  border: 2px solid #08C384;
  background: white;
}
.cl-border-green:hover {
  background:#08C384;
  color:white;
}
.cl-border-yellow {
  border: 2px solid #F3AF00;
  background: white;
}
.cl-border-yellow:hover {
  background:#F3AF00;
  color:white;
}
.cl-border-red {
  border: 2px solid #FD0101;
  background: white;
}
.cl-border-red:hover {
  background:#FD0101;
  color:white;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.select2-selection__rendered {
  padding-left:0 !important;
}
input[type=time]::-webkit-inner-spin-button, 
input[type=time]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
text.dark {
  color: black !important;
}
.nav-menus {
  font-size: 18px;
  font-weight: bold;
}
.bullet-notif {
  width: 20px;
  height: 20px;
}
.rounded-black {
  border-radius:50%;
  background: black;
  color:white;
  text-align:center;
}


.extra-menu {
  width: 156px;
  height: auto;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
}
.list-none>li {
  list-style: none;
}
input:-moz-read-only { /* For Firefox */
  background-color: #f3f3f3;
}

input:read-only {
  background-color: #f3f3f3;
}
/* Font Size */

.fs-10 { font-size: 10px !important;}
.fs-11 { font-size: 11px !important;}
.fs-12 { font-size: 12px;}
.fs-14 { font-size: 14px !important;}
.fs-15 { font-size: 15px;}
.fs-16 { font-size: 16px;}
.fs-18 { font-size: 18px;}
.fs-20 { font-size: 20px !important;}
.fs-22 { font-size: 22px;}
.fs-24 { font-size: 24px;}
.fs-26 { font-size: 26px;}
.fs-28 { font-size: 28px;}
.fs-30 { font-size: 30px;}
.fs-32 { font-size: 32px;}
.fs-34 { font-size: 34px;}
.fs-36 { font-size: 36px;}
.fs-38 { font-size: 38px;}